@import "lunatool";
@import "resetnew";

$mainBackground: #333;
html, body {
  height: 100%;
}

body {
  background: $mainBackground;
  margin: 0;
  padding: 0;
}

.react {

  &__home {
    padding: 60px;
    text-align: center;
  }

  &__logo {

    width: 640px;
    display: block;
    margin: 0 auto;
    -webkit-animation: rotation 15s infinite linear;
  }
  &__submenu {

    li {

      a {
        display: block;
        background: #484848;
        padding: 10px;

      }
    }
  }
  &__title {
    text-align: center;
    padding: 15px 0;
    font-size: 30px;
    color: #fff;

    background: #333;
    //  border-bottom: 2px solid #25B9C4;
    border-bottom: 2px solid #25B9C4;

  }

  &__anchor {
    cursor: pointer;
    width: 100%;
    color: #fff;
    text-align: left;

    @include transition(.3s);

    background: #353535;
    display: block;
    padding: 15px 0 15px 15px;
    &:hover {
      background: black;
    }

    border-bottom: 2px solid #000;
  }
  &__nav {
    float: left;
    font-size: 16px;
    width: 15%;
    color: #fff;
    background: #272727;
    height: 100vh;
    li {

      a, span {

      }

    }
  }

  &__contactName {
    font-size: 30px;
    padding: 15px 0;

  }
  &__contact {
    text-align: center;
    padding-top: 50px;

  }

  &__contactit {
    font-weight: bold;
    padding-bottom: 10px;
    width: 280px;
    margin: 0 auto;
    border-bottom: 1px solid aquamarine;
    margin-bottom: 50px;
  }
  &__content {

    width: 85%;
    height: auto;
    min-height: 100vh;
    height: 100%;
    color: #fff;
    background: #1f1f1f;
    line-height: 1.5;
    float: left;
    padding: 15px;
    font-size: 15px;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@media only screen and (max-width: 600px) {
.react__title{
  font-size: 17px;
}
  .react__nav {
    display: none;
  }
  .react__content{
    width: 100%;
  }
}